<div class="main-cont">
    <div class="authCont" layout-gt-sm="row" layout-xs="column" layout-sm="column" layout-align="center stretch">
        <div flex layout="" layout-align="start center">
            <div class="authFormCont">
                <img class="logo" src="app/view/images/jiya_logo_png.png" />
                <div style="text-align:center;" class="authFormInner">
                    <h1>Activation</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. </p>
                    <a href="#" ng-click="reSendActivationCode()">Resend Activation Link</a>
                </div>
            </div>
        </div>
    </div>