<div class="main-cont">
  <div class="container-fluid">
    <div class="row">
      <div class="blackBg">
        <div class="col-sm-12">
          <img class="ilogo" src="app/view/images/jiya_logo_png.png">
        </div>

        <!--Step 02 Start here-->
        <form id="msform" name="profileForm" novalidate="novalidate">

          <fieldset style="border: 0px solid!important">
            <div class="container">
              <div class="row">
                <div style="margin-top:100px !important" class="createProfile">
                  <div class="createHead">
                    <h2>Create Profile </h2>
                  </div>
                  <div class="profileArea">
                    <div layout-gt-xs="row" layout-xs="column" layout-wrap>
                      <div flex-gt-xs="none" flex-xs="100">
                        <input id="imageOpen" style="display:none" class="form-control hidden" type="file" img-upload onchange="angular.element(this).scope().fileReader(this)"
                          name="profilePic">
                        <div ng-if="!image && !profile.profilePic" class="box">
                          <img class="plusIco" ng-click="openFileBrowser()" src="app/view/images/plus.png">
                        </div>
                        <div ng-if="image && !profile.profilePic" class="profile_div_boxshadow">
                          <img class="form-control img-responsive circle" ng-src="{{image ? image : app/view/images/avatars.png}}" ng-show="image || profile.profilePic"
                          />
                        </div>
                        <div ng-if="profile.profilePic" class="profile_div_boxshadow">
                          <img class="form-control img-responsive circle" ng-src="{{profile.profilePic ? profile.profilePic : app/view/images/avatars.png}}"
                            style="display:block!important" ng-show="image || profile.profilePic" />
                        </div>
                      </div>
                      <div flex-gt-xs="" flex-xs="100">
                        <div class="box2">
                          <div class="input-group marbott">
                            <span class="input-group-addon" id="basic-addon1">
                              <img class="" src="app/view/images/ico_01.png">
                            </span>
                            <input type="text" ng-model="profile.name" class="form-control" placeholder="Name" aria-describedby="basic-addon1" required>
                          </div>
                          <div class="input-group marbott">
                            <span class="input-group-addon" id="basic-addon1">
                              <img class="" src="app/view/images/ico_02.png">
                            </span>
                            <input ng-disabled="true" type="text" ng-model="profile.email" class="form-control" placeholder="Email ID" aria-describedby="basic-addon1"
                              required>
                          </div>
                          <div class="input-group marbott">
                            <span class="input-group-addon" id="basic-addon1">
                              <img class="" src="app/view/images/ico_03.png">
                            </span>
                            <input type="text" ng-model="profile.penName" class="form-control" placeholder="Pen Name" aria-describedby="basic-addon1"
                              required>
                          </div>
                          <div class="input-group marbott">
                            <span class="input-group-addon" id="basic-addon1">
                              <img class="" src="app/view/images/ico_04.png">
                            </span>
                            <textarea class="form-control" ng-model="profile.shortBio" maxlength="160" placeholder="Short Bio (Max 160 charecters)" aria-describedby="basic-addon1"
                              cols="3" required></textarea>
                          </div>

                          <div class="input-group marbott">
                            <span class="input-group-addon" id="basic-addon1">
                              <img class="" src="app/view/images/ico_05.png">
                            </span>
                            <datepicker date-format="MM/dd/yyyy" date-month-title="selected year">
                              <input type="text" ng-model="profile.birthday" class="form-control" placeholder="Birthday" aria-describedby="basic-addon1"
                                required>
                            </datepicker>

                          </div>
                          <div class="input-group marbott">
                            <span class="input-group-addon" id="basic-addon1">
                              <img class="" src="app/view/images/ico_06.png">
                            </span>
                            <input type="text" ng-model="profile.location" class="form-control" placeholder="Location" aria-describedby="basic-addon1"
                              required>
                          </div>
                          <div class="input-group marbott">
                            <span class="input-group-addon" id="basic-addon1">
                              <img class="" src="app/view/images/ico_07.png">
                            </span>
                            <div layout-gt-xs="row" layout-xs="colum">
                              <div flex="none">
                                <div class="prive ptitle">Privacy Type</div>
                              </div>
                              <div flex>
                                <div class="form-group prive ptitle2">
                                  <input type="radio" ng-model="profile.privacyPolicy" value="private" name="radiog_lite" id="radio1" class="form-control css-radiobox"
                                  />
                                  <label for="radio1" class="css-label radGroup1 radGroup1">Private</label>
                                </div>
                              </div>
                              <div flex>
                                <div class="prive ptitle2">
                                  <input type="radio" ng-model="profile.privacyPolicy" value="public" name="radiog_lite" id="radio2" class="form-control css-radiobox"
                                    required/>
                                  <label for="radio2" class="css-label radGroup2 radGroup2">Public</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="input-group marbott">
                            <span class="input-group-addon" id="basic-addon1">
                              <img class="" src="app/view/images/ico_07.png">
                            </span>
                            <div flex>
                              <div class="prive ptitle2">
                                <input type="checkbox" name="checkboxG1" ng-model="acceptAgreement" id="checkboxG1" class="form-control css-checkbox" required/>
                                <label for="checkboxG1" class="css-label2 radGroup1">I agree to the usage policy of JIYA</label>
                              </div>
                            </div>
                          </div>
                          <div class="pull-right">
                            <input ng-click="fbLogin()" ng-disabled="!isAllRequirementFulfilled()" ng-class="{ disabled_button: !isAllRequirementFulfilled() }"
                              type="button" name="next" class="next nextbtn action-button" value="Next">

                            <!-- <div class="nextbtn">Next</div> -->
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                      <div flex flex-sm="100">
                        <div class="box3">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book.</p>
                          <div layout="row">
                            <div ng-repeat="friend in friends | limitTo:4" flex class="marrit">
                              <img class="thumbsize" ng-src="{{friend.picture ? friend.picture : app/view/images/avatarss.png}}">
                            </div>
                            <!-- <div flex class="marrit">
                              <img class="thumbsize" src="app/view/images/avatarss.png">
                            </div>
                            <div flex class="marrit">
                              <img class="thumbsize" src="app/view/images/avatarss.png">
                            </div>
                            <div flex class="marrit">
                              <img class="thumbsize" src="app/view/images/avatar_plus.png">
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>

            </div>


          </fieldset>

          <fieldset style="border: 0px solid!important">
            <div class="container">
              <div class="row">
                <div style="margin-top:100px !important" class="createProfile">
                  <div class="createHead">
                    <h2>Follow Jiyans </h2>
                  </div>
                  <div class="profileArea">
                    <div class="row">
                      <div class="col-sm-12 bmhide">
                        <ol class="cd-multi-steps text-bottom count">
                          <li class="visited">
                            <a>Create Profile</a>
                          </li>
                          <li class="current">
                            <a>Follow JIYANS</a>
                          </li>
                          <li class="">
                            <a>Select Favourite Topics</a>
                          </li>
                        </ol>
                      </div>
                      <div class="col-sm-12">
                        <div class="selall">
                          <!-- <md-checkbox ng-click="selectAll($event)" ng-checked="selectedFrnds.length == friends.length" ng-model="selectall_check" ></md-checkbox> -->
                          <input type="checkbox" style="width: 70px;" ng-click="selectAll($event)" ng-checked="selectedFrnds.length == friends.length"
                            ng-model="selectall_check">
                          <!-- <input type="checkbox" name="checkboxG2" id="checkboxG2" class="css-checkbox" /> -->
                          <!-- <label for="checkboxG2" class="css-label2 radGroup2"> -->
                          <strong>Select 1-{{friends.length}} of {{friends.length}}</strong>

                          <div ng-if="selectedFrnds.length == friends.length" ng-click="followAll()" style="margin-left: 70%;" class="followbtn">Follow</div>
                        </div>
                      </div>
                    </div>
                    <div class="overScroll">
                      <!--Set 01 -->
                      <div layout-gt-xs="row" layout-xs="column" class="fbrdbtms" ng-repeat="friend in friends | limitTo:5">
                        <div flex="none" layout layout-align="center center">
                          <input type="checkbox" style="width: 70px;" ng-checked="selectedFrnds.indexOf(friend.id) >= 0" ng-click="selectFriend(friend);"
                            ng-model="friend.selected" ng-disabled="selectedFrnds.length == friends.length">
                          <!-- <input type="checkbox" name="checkboxG{{$index}}" id="checkboxG{{$index}}" class="css-checkbox" ng-click="selectParticular(friend)" />
                          <label for="checkboxG{{$index}}" class="css-label2 radGroup4"></label> -->

                        </div>
                        <div flex="none">
                          <div>
                            <img class="followImg" ng-src="{{friend.picture ? friend.picture : app/view/images/avatarss.png}}" onError="angular.element(this).scope().friend.picture = false"
                              style="background-image: url(app/view/images/avatarss.png);width: 100px;  height: 100px; border-radius: 50%;">
                          </div>
                        </div>
                        <div flex layout layout-align="center center">
                          <div class="fInfo">
                            <div class="fName">{{friend.name}}</div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                              of type and scrambled it to make a type specimen book.</p>
                          </div>
                        </div>
                        <div flex="none" layout layout-align="center center">
                          <div ng-if="!friend.follow" ng-class="{ disabled_button: !friend.selected  || selectedFrnds.length == friends.length }" ng-disabled="!friend.selected || selectedFrnds.length == friends.length"
                            ng-click="followJiyan(friend)" class="followbtn">Follow</div>
                          <div ng-if="friend.follow" ng-class="{ disabled_button: !friend.selected || selectedFrnds.length == friends.length}" ng-disabled="!friend.selected || selectedFrnds.length == friends.length"
                            ng-click="withdrawJiyan(friend)" class="followbtn">Withdraw</div>
                        </div>
                      </div>
                    </div>
                    <div style="text-align:center">
                      <input type="button" name="previous" class="previous action-button" value="Previous">
                      <input type="button" name="next" class="next nextbtn action-button" ng-click="getFavourites()" value="Next">
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </fieldset>

          <fieldset style="border: 0px solid!important">
            <div class="container">
              <div class="row">
                <div class="createProfile createProfileMar clearfix">
                  <div class="createHead">
                    <h2>Select Favorite Topics</h2>
                  </div>
                  <div class="fullwid favs">
                    <br>
                    <div class="row">
                      <div class="col-sm-12 bmhide">
                        <ol class="cd-multi-steps text-bottom count">
                          <li class="visited">
                            <a>Create Profile</a>
                          </li>
                          <li class="visited">
                            <a>Follow JIYANS</a>
                          </li>
                          <li class="current">
                            <a>Select Favourite Topics</a>
                          </li>
                        </ol>
                      </div>
                    </div>
                    <div align="center">
                      <h3>Which stories look interesting to you?</h3>
                      <p>Choose from our recommended stories below or try searching for specific topics</p>
                      <h4>Select at least 3 stories to active</h4>
                    </div>
                    <div class="srcbox">
                      <div class="input-group">
                        <input type="text" class="infullwid" placeholder="Search By Topics" aria-describedby="basic-addon1" style="border: none;"
                          ng-model="search_text">
                        <span class="input-group-addon srcbgs" id="basic-addon1" ng-click="searchfav(search_text)">
                          <img class="" src="app/view/images/search_icon.png">
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="demo">
                    <div class="item" style="margin-bottom: 0px; padding-left:5%">
                      <ul id="responsive" class="responsive">
                        <!--ng-repeat-->
                        <li ng-repeat="favourite in favourites">
                          <div class="simag" ng-click="selectFavourites(favourite)">
                            <img src="http://dimsemenov.com/plugins/royal-slider/img/home.jpg" class="resimgs" ng-class="{ image_selected : favourite.selected }">
                            <img class="favsels" src="app/view/images/green.png" ng-class="{ show_tick : favourite.selected }">
                          </div>
                          <h2>{{favourite.favourite}}</h2>
                          <div class="viewfav">
                            <div class="wid50s wid50sleft">
                              <img class="vmids" src="app/view/images/eye.png">
                              <div class="vmids">25</div>
                            </div>
                            <div class="wid50s wid50sright">
                              <img class="vmids" src="app/view/images/gstar.png">
                              <div class="vmids">74</div>
                            </div>
                          </div>
                        </li>


                      </ul>
                      <div style="text-align: center" ng-show="favourites.length === 0">As there are no stories for now you may skip to next step</div>
                      <div id="goToPrevSlide">&nbsp;</div>
                      <div id="goToNextSlide">&nbsp;</div>
                    </div>
                  </div>
                  <div style="text-align:center">
                    <input type="button" name="previous" class="previous action-button" value="Previous">
                    <input type="button" name="submit" class="next nextbtn action-button" ng-click="submitProfile(profile)" value="Submit" ng-disabled="favourites.length !== 0 && selectedFav.length < 3"
                      ng-class="{ disabled_button: favourites.length !== 0 && selectedFav.length < 3 }">
                  </div>
                </div>
                <div class="fullwid">
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </fieldset>
          <!--Step 02 End here-->

          <!--Step 01 Start here-->

        </form>
        <!--Step 01 End here-->
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<!-- <form id="msform">
     
      <ul id="progressbar">
        <li class="active">Account Setup</li>
        <li>Social Profiles</li>
        <li>Personal Details</li>
      </ul>
     
      <fieldset>
        <h2 class="fs-title">Create your account</h2>
        <h3 class="fs-subtitle">This is step 1</h3>
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="pass" placeholder="Password">
        <input type="password" name="cpass" placeholder="Confirm Password">
        <input type="button" name="next" class="next action-button" value="Next">
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Social Profiles</h2>
        <h3 class="fs-subtitle">Your presence on the social network</h3>
        <input type="text" name="twitter" placeholder="Twitter">
        <input type="text" name="facebook" placeholder="Facebook">
        <input type="text" name="gplus" placeholder="Google Plus">
        <input type="button" name="previous" class="previous action-button" value="Previous">
        <input type="button" name="next" class="next action-button" value="Next">
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Personal Details</h2>
        <h3 class="fs-subtitle">We will never sell it</h3>
        <input type="text" name="fname" placeholder="First Name">
        <input type="text" name="lname" placeholder="Last Name">
        <input type="text" name="phone" placeholder="Phone">
        <textarea name="address" placeholder="Address"></textarea>
        <input type="button" name="previous" class="previous action-button" value="Previous">
        <input type="submit" name="submit" class="submit action-button" value="Submit">
      </fieldset>
    </form> -->
















<!-- <div class="main-cont">
  <div class="container-fluid">
    <div class="row">
      <div class="blackBg">
        <div class="col-sm-12"><img class="ilogo" src="app/view/images/jiya_logo_png.png"></div>
        <div class="container">
          <div class="row">
            <div class="createProfile">
              <div class="createHead">
                <h2>Create Profile </h2>
              </div>
              <div class="profileArea">
                <div class="row">
                  <div class="col-sm-12">
                    <h3>Welcome to the JIYA Family</h3>
                    <input style="display:none;" id="imageOpen" class="hidden" type="file" img-upload ng-model="imageName" name="imageName">
                    
                  </div>
                  <div class="col-sm-12 bmhide">
                    <ol class="cd-multi-steps text-bottom count">
                      <li class="visited"><a>Create Profile</a></li>
                      <li class="current"><a>Follow JIYANS</a></li>
                      <li class=""><a>Select Favourite Topics</a></li>
                    </ol>
                  </div>
                </div>
                <div layout-gt-xs="row" layout-xs="column">
                  <div flex-gt-xs="none" flex-xs="100" >
                    <div ng-if="!image" class="box"><img class="plusIco" ng-click="openFileBrowser()" src="app/view/images/plus.png"></div>
                    <div ng-if="image" class="profile_div_boxshadow"><img class="form-control img-responsive circle" ng-model="profile.profilePic" ng-src="{{image ? image : app/view/images/avatars.png}}" ng-show="image"/></div>
                    
                  </div>
                  <div flex-gt-xs="none" flex-xs="100">
                    <div class="box2">
                      <div class="input-group marbott"> <span class="input-group-addon" id="basic-addon1"><img class="" src="app/view/images/ico_01.png"></span>
                        <input type="text" ng-model="profile.userName" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group marbott"> <span class="input-group-addon" id="basic-addon1"><img class="" src="app/view/images/ico_02.png"></span>
                        <input type="text" ng-model="profile.email" class="form-control" placeholder="Email ID" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group marbott"> <span class="input-group-addon" id="basic-addon1"><img class="" src="app/view/images/ico_03.png"></span>
                        <input type="text" ng-model="profile.penName" class="form-control" placeholder="Person Name" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group marbott"> <span class="input-group-addon" id="basic-addon1"><img class="" src="app/view/images/ico_04.png"></span>
                        <textarea class="form-control" ng-model="profile.shortBio" placeholder="Short Bio" aria-describedby="basic-addon1" cols="3"></textarea>
                      </div>
                      <div class="input-group marbott"> <span class="input-group-addon" id="basic-addon1"><img class="" src="app/view/images/ico_05.png"></span>
                        <input type="text" class="form-control ddmm" placeholder="DD" aria-describedby="basic-addon1">
                        <input type="text" class="form-control ddmm" placeholder="MM" aria-describedby="basic-addon1">
                        <input type="text" class="form-control" placeholder="YYYY" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group marbott"> <span class="input-group-addon" id="basic-addon1"><img class="" src="app/view/images/ico_06.png"></span>
                        <input type="text" class="form-control" placeholder="Location" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group marbott"> <span class="input-group-addon" id="basic-addon1"><img class="" src="app/view/images/ico_07.png"></span>
                        <div class="prive ptitle">Privacy Type</div>
                        <div class="prive ptitle2"><input type="radio" class="iitem">Private</div>
                        <div class="prive ptitle2"><input type="radio" class="iitem">Public</div>
                      </div>
                      <div class="input-group marbott"> <span class="input-group-addon" id="basic-addon1"><img class="" src="app/view/images/ico_07.png"></span>
                        <div class="prive ptitle2"><input type="checkbox" class="iitem">I agree to the usage policy of JIYA</div>
                      </div>
                      <div class="pull-right">
                        <div ng-click="submitProfile(profile)" class="nextbtn">Next</div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div flex>
                    <div class="box3">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      <div layout="row">
                        <div flex class="marrit"><img class="thumbsize" src="app/view/images/avatarss.png"></div>
                        <div flex class="marrit"><img class="thumbsize" src="app/view/images/avatarss.png"></div>
                        <div flex class="marrit"><img class="thumbsize" src="app/view/images/avatarss.png"></div>
                        <div flex class="marrit"><img class="thumbsize" src="app/view/images/avatar_plus.png"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div> -->

<style>
  /*form styles*/

  .image_selected {
    opacity: 0.5 !important;
  }

  .show_tick {
    display: inline-block !important;
  }

  /*Hide all except first fieldset*/

  #msform fieldset:not(:first-of-type) {
    display: none;
  }

  /*inputs*/

  #msform input,
  #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
  }

  /*buttons*/

  #msform .action-button {
    width: 100px;
    background: #ed1c24;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    font-family: sans-serif;
  }

  #msform .action-button:hover,
  #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
  }

  /*headings*/

  .fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
  }

  .fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
  }

  /*progressbar*/

  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
  }

  #progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
  }

  #progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
  }

  /*progressbar connectors*/

  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
  }

  #progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
  }

  /*marking active/completed steps green*/

  /*The number of the step and the connector before it = green*/

  #progressbar li.active:before,
  #progressbar li.active:after {
    background: #27AE60;
    color: white;
  }
</style>

<script>//jQuery time

  var current_fs, next_fs, previous_fs; //fieldsets
  var left, opacity, scale; //fieldset properties which we will animate
  var animating; //flag to prevent quick multi-click glitches




  $(".next").click(function () {
    if (animating) return false;
    animating = true;

    current_fs = $(this).closest("fieldset");
    next_fs = $(this).closest("fieldset").next();

    $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

    next_fs.show();
    current_fs.animate({ opacity: 0 }, {
      step: function (now, mx) {
        scale = 1 - (1 - now) * 0.2;
        left = (now * 50) + "%";
        opacity = 1 - now;
        current_fs.css({ 'transform': 'scale(' + scale + ')' });
        next_fs.css({ 'left': left, 'opacity': opacity });
      },
      duration: 800,
      complete: function () {
        current_fs.hide();
        animating = false;
      },
      easing: 'easeInOutBack'
    });
  });

  $(".previous").click(function () {
    if (animating) return false;
    animating = true;
    current_fs = $(this).closest("fieldset");
    previous_fs = $(this).closest("fieldset").prev();

    //de-activate current step on progressbar
    // $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

    //show the previous fieldset
    previous_fs.show();
    //hide the current fieldset with style
    current_fs.animate({ opacity: 0 }, {
      step: function (now, mx) {
        //as the opacity of current_fs reduces to 0 - stored in "now"
        //1. scale previous_fs from 80% to 100%
        scale = 0.8 + (1 - now) * 0.2;
        //2. take current_fs to the right(50%) - from 0%
        left = ((1 - now) * 50) + "%";
        //3. increase opacity of previous_fs to 1 as it moves in
        opacity = 1.2 - now;
        current_fs.css({ 'left': left });
        previous_fs.css({ 'transform': 'scale(' + scale + ')', 'opacity': opacity });
      },
      duration: 800,
      complete: function () {
        current_fs.hide();
        animating = false;
      },
      //this comes from the custom easing plugin
      easing: 'easeInOutBack'
    });
  });

  $(".submit").click(function () {
    return false;
  })
</script>