<!-- Forget Password Modal Start -->
<div id="animatedModal" class="forgetPassword">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
  <div class="modalBox">
    <div class="close-animatedModal"> 
      CLOSE MODAL
    </div>
      
    <div class="modal-content">
       <h3 class="text-center">Forgot Password</h3>
      
      <div class="formCover clearfix">
        <img src="images/icons/key.png" alt="" class="keyIcon mr-4">
        <div class="stepForm">
          
          <div id="stepOne">
            <form>
              <div class="form-group">
                <input type="email" class="form-control" id="forgotEmail" placeholder="Enter email" autocomplete="off">
                <!-- Displaying Alert Messages -->
                <small id="emailHelp" class="form-text text-danger">Check Email</small>
              </div>
              <button type="button" (click)="sendOTPAsMail($event)" class="btn btn-block sendOtp">Send OTP</button>
            </form>
          </div>

          <div id="stepTwo" style="display: none;">
            <form>
              <div class="form-group">
                <input type="email" class="form-control" id="emailOtp" placeholder="Confirm OTP from email" autocomplete="off">
                <!-- Displaying Alert Messages -->
                <small id="otpHelp" class="form-text text-danger">Wrong OTP entered</small>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="newPassword" placeholder="Enter new password">
                <!-- Displaying Alert Messages -->
                <small id="newPasswordHelp" class="form-text text-danger">Password too small</small>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="confirmNewPass" placeholder="Confirm new password">
                <!-- Displaying Alert Messages -->
                <small id="confirmNewPassHelp" class="form-text text-danger">Password does not match</small>
              </div>
              <button type="button" class="btn btn-block resetPass">Reset Password</button>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<!-- Forget Password Modal End -->