<style>

</style>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="opacity:1" title="Dismiss">&times;</button>
        <h4>
          <span class="glyphicon glyphicon-lock"></span> Forgot Password</h4>
      </div>
      <div class="modal-body">
        <!-- forget password form 1-->
        <div id="div_forgetPassword1" class="form-group" style="margin-bottom: 20px;margin-top: 20px;">
          <label for="usrname">
            <span class="glyphicon"></span> Enter your email id to receive password reset OTP</label>
          <input style="margin-top: 10px;" type="text" class="form-control" (change)="checkValue()" [(ngModel)]="model.forgetPasswordEmail"
           id="usrname" placeholder="Enter email">
          <span class="error error_span">{{model.forgetPasswordEmailFieldVerificationError}}</span>
        </div>
        <button id="btn_sendOTP" type="submit" class="btn btn-success btn-block" ng-class="{ disabled_button: forgetPasswordEmailFieldInvalid }" ng-disabled="forgetPasswordEmailFieldInvalid"
         ng-click="sendOTPAsMail($event)">
          <span class="glyphicon glyphicon-off"></span> Send OTP</button>

        <!--forget password form 2-->
        <div id="div_forgetPassword2" class="form-group" style="margin-bottom: 20px;margin-top: 20px;">
          <label for="email">
            <span class="glyphicon"></span> Enter OTP sent at {{model.forgetPasswordEmail}}</label>
          <input style="margin-top: 10px;" type="text" class="form-control" [(ngModel)]="model.forgetPasswordOTP"
           id="email" name="email" placeholder="Enter OTP">
           <label for="email">
            <span class="glyphicon"></span> Enter new password for your profile</label>
          <input style="margin-top: 10px;" type="password" class="form-control" [(ngModel)]="model.forgetPasswordPasswordText"
           id="email" name="password" placeholder="Enter New Password">
           <label for="email">
            <span class="glyphicon"></span> Please confirm new password</label>
          <input style="margin-top: 10px;" type="password" class="form-control" [(ngModel)]="model.forgetPasswordConfirmPasswordText"
           id="email" name="password2" placeholder="Confirm New Password">
          <span class="error error_span"></span>
        </div>
        <button id="btn_resetPassword" type="submit" class="btn btn-success btn-block" ng-class="{ disabled_button: forgetPasswordEmailFieldInvalid }" ng-disabled="forgetPasswordEmailFieldInvalid"
         (click)="resetPassword($event)">
          <span class="glyphicon glyphicon-off"></span> Reset Password</button>
      </div>
    </div>
  </div>
</div>