<div class="page-header"><h1>Subjects Register</h1></div>


<button ng-click="login()">Login with Facebook</button>
<button ng-click="emitEvent()">EmIT EVENt</button>
<form ng-submit="regSubject(profile)">

<label>Profile Picture</label>
<!-- <input ng-model="photo" onchange="angular.element(this).scope().file_changed(this)" type="file" accept="image/*" />
<input class="form-control" type="text" name="username" placeholder="Username" ng-model="profile.fullname">
<img ng-src="{{img}}" id="profile-img-tag" width="200px" /> -->

<div class="input-group">
    <input id="image" class="hidden" type="file" img-upload ng-model="imageName" name="imageName">
    <img class="form-control img-responsive circle" ng-model="profile.profilePic" ng-src="{{image}}" ng-show="image"/>
    <!-- <label for="image" class="btn btn-success btn-xs pull-center" name="upload" Value="">Upload Photo</label> -->
</div>



<br>


<label>Full Name</label>
<input class="form-control" type="text" name="username" placeholder="Username" ng-model="profile.fullname">
<br>

<label>Short-Bio</label>
<textarea class="form-control" rows="4"  maxlength="160" name="science" placeholder="Science" ng-model="profile.shortBio"></textarea>
<br>

<label>Date of Birth</label>
<datepicker date-format="MM/dd/yyyy" date-month-title="selected year">
    <input name="social" placeholder="Date Of Birth" class="form-control" ng-model="profile.dateOfBirth"/>
</datepicker>
<br>

<div class="multiselect">
    <div class="selectBox" ng-click="showCheckboxes()">
      <select>
        <option>Select an option</option>
      </select>
      <div class="overSelect"></div>
    </div>
    <div id="checkboxes">
      <label ng-repeat="favourate in favourates">
          <input ng-click="assignFavourates($event.target.checked, favourate)" value={{favourate}} type="checkbox" />{{favourate}}
      </label>
    </div>
  </div>

  <div> <span ng-repeat="rating in ratings">{{rating.current}} out of
      {{rating.max}}
  <div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(rating)"></div>
  </span>
</div>


<label>Favourate Topics</label>
<input class="form-control" type="number" name="language" placeholder="language" ng-model="profile.favTopics">
<br>

<label>Location</label>
<input class="form-control" type="number" name="maths" placeholder="Maths" ng-model="profile.location">
<br>

<label>Privacy</label>
<input class="form-control" type="number" name="english" placeholder="english" ng-model="profile.privacy">
<br>

<label>Invite</label>
<input class="form-control" type="number" name="english" placeholder="english" ng-model="profile.invite">
<br>

<button class="btn btn-primary" type="submit" >submit</button>

<br>
<br>
<br>
<button ng-click="getRoandomQuote()">random quote</button><div ng-if="showLoder" class="loader"></div><div ng-if="quotes.length!=0">{{quotes.quote}} - {{quotes.author}}</div>
</form>