<div class="w3-top">
  <div style="background-color: #fafafa !important" class="w3-bar w3-theme-d2 w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
      href="javascript:void(0);" onclick="openNav()">
      <i class="fa fa-bars"></i>
    </a>
    <a style="padding:0px !important" href="#" class="w3-bar-item w3-button w3-padding-large">
      <!-- <i class="fa fa-home w3-margin-right" ></i>-->
      <img src="app/view/images/mat_jiya_logo.png" />
    </a>
    <input style="width: 50%;margin-top: 10px;border-radius: 25px;height: 30px;" type="text" ng-model="post.postContent" contenteditable="true"
      class="w3-border w3-padding status_input ng-pristine ng-valid ng-empty ng-touched" aria-invalid="false" autocomplete="off">
    <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News">
      <i class="fa fa-globe"></i>
    </a> -->
    <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings">
      <i class="fa fa-user"></i>
    </a> -->
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large" title="Messages">
      <i class="fa fa-envelope" style="color:black"></i>
    </a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-button w3-padding-large" title="Notifications">
        <i class="fa fa-bell" style="color:black"></i>
        <span class="w3-badge w3-right w3-small w3-green">3</span>
      </button>
      <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
        <a href="#" class="w3-bar-item w3-button">One new friend request</a>
        <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
        <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
      </div>
    </div>
    <a href="#" ng-click="logout()" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large" title="Sign out">
      <i class="fa fa-sign-out" style="color:black"></i>
    </a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large" title="My Account">
      <img ng-src="{{current_user.profilePic ? current_user.profilePic:'app/view/images/user_2.png'}}" class="w3-circle" style="height:25px;width:25px"
        alt="Avatar">
    </a>
  </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:55px;padding-top:5px;">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
          <h4 class="w3-center">My Profile</h4>
          <!-- <p class="w3-center"><img ng-click="showProfile()" src="app/view/images/user_2.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p> -->
          <p class="w3-center">
            <img ng-click="showProfile()" ng-src="{{current_user.profilePic ? current_user.profilePic:'app/view/images/user_2.png'}}"
              class="w3-circle" style="height:106px;width:106px" alt="Avatar">
          </p>
          <hr>
          <p>
            <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{current_user.dateOfBirth | date : "MMMM d, y"}}</p>
          <p>
            <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{current_user.location}}</p>
          <p>
            <i class="fa fa-heart fa-fw w3-margin-right w3-text-theme"></i> {{current_user.shortBio}}</p>
          <p>
            <button ng-click="editProfile()" class="w3-button w3-block w3-theme-l4">
              <i style="margin-right:0px!important" class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Edit Profile</button>
          </p>

        </div>
      </div>
      <br>


    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">

      <div class="w3-row-padding">
        <div class="w3-col m12">
          <h6 style="text-transform: capitalize;" class="w3-opacity">
            <div class="greeting"></div> {{current_user.username}}</h6>
          <blockquote>{{quotes.quote}} - {{quotes.author}}</blockquote>

        </div>
      </div>

      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
              <!-- modal start -->

              <style>
                .modal-header,
                .modal-header h4,
                .close {
                  background-color: #5cb85c;
                  color: white !important;
                  text-align: center;
                  font-size: 30px;
                }

                .modal-footer {
                  background-color: #f9f9f9;
                }
              </style>
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" style="opacity:1" title="Dismiss">&times;</button>
                      <h4>
                        <span class="glyphicon glyphicon-lock"></span> Post submit</h4>
                    </div>
                    <div class="modal-body">
                      <!-- enter title form -->
                      <div id="div_title" class="form-group" style="margin-bottom: 20px;margin-top: 20px;">
                        <label for="usrname">Enter title for your writing</label>
                        <input style="margin-top: 10px;" type="text" class="form-control" ng-model="postTitle" id="" placeholder="Enter title">
                      </div>
                      <!-- select type form -->
                      <div ng-if="types.length" id="div_types" class="form-group" style="margin-bottom: 20px;margin-top: 20px;">
                        <p for="usrname">Select type for your writing</p>
                        <div>
                          <div ng-repeat="type in types" ng-class="(postType == type.type)?'div_typeActive':''" ng-click="selectType(type.type)" class="div_type">
                            <img class="img_typeImage" src="{{type.typeImage}}" />
                            <label class="label_typeText">{{type.type}}</label>
                          </div>
                        </div>
                      </div>
                      <!-- select topic form -->
                      <div ng-if="topics.length" id="div_topic" class="form-group" style="margin-bottom: 20px;margin-top: 20px;">
                        <p for="usrname">Select topic for your writing</p>
                        <div>
                          <div ng-repeat="topic in topics" ng-class="(postType.indexOf(topic.topicName) >= 0 )?'div_typeActive':''" ng-click="selectTopic(topic.topicName)"
                            class="div_type">
                            <img class="img_typeImage" src="{{topic.topicImage}}" />
                            <label class="label_typeText">{{topic.topicName}}</label>
                          </div>
                        </div>
                      </div>
                      <!-- Enter hashtag form -->
                      <div id="" class="form-group" style="margin-bottom: 20px;margin-top: 20px;">
                        <label for="usrname">Select topic for your writing</label>
                        <input style="margin-top: 10px;" type="text" class="form-control" ng-model="hashtags" id="" placeholder="Enter ',' separated hastags">
                        <button id="btn_submitHashTag" type="submit" class="btn btn-success btn-block" ng-click="submitPostAndCloseModal()">Submit </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- modal end -->
              <h6 class="w3-opacity">Whats your Status?</h6>
              <textarea ng-click="loadCKEditor()" id="txt_postWriter" style="height: 40px;width: 100%; margin-bottom: 2vh;" type="text"
                ng-model="post.postContent" contenteditable="true" class="w3-border w3-padding status_input"></textarea>
              <div style="margin-top: 5px;margin-bottom: 5px; visibility: hidden;" id="div_backgroundColor">
                <label>select color for background</label>
                <span ng-repeat="color in backgroundColorArray" ng-click="changeEditorBackground($event, color)" class="span_backgroundColorSelect"
                  title="{{color}}" ng-class="(postBackGroundColor==color)?'span_backgroundColorSelectActive':''" style="background-color: {{color}}"></span>

              </div>
              <button ng-click="prepareToPublishPost()" type="button" class="w3-button w3-theme">
                <i class="fa fa-pencil"></i>  Post</button>
              <button ng-click="saveAsDraft()" style="float: right;" type="button" class="w3-button w3-theme-d2 w3-margin-bottom" ng-click="saveAsDraft(post)">
                <i class="fa fa-times"></i> Save as Draft</button>
            </div>
          </div>
        </div>
      </div>

      <div ng-repeat="post in postsArray" class="w3-container w3-card-2 w3-white w3-round w3-margin">
        <br>
        <img src="app/view/images/user_2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span am-time-ago="post.dateAndTime" class="w3-right w3-opacity"></span>
        <h4>{{post.poster}}</h4>
        <br>
        <hr class="w3-clear">
        <p class="postContent" ng-bind-html="{{post.postContent}}"></p>
        <div ng-if="post.comments.length!=0" ng-repeat="comment in post.comments">
          <p>{{comment.commentBody}}</p>
        </div>
        <div ng-if="post.showCommentBox" class="animationIf">
          <input placeholder="Your Comment" type="text" ng-model="post.comment" class="text-line" />
        </div>
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half">
            <img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
          </div>
          <div class="w3-half">
            <img src="/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">
          </div>
        </div>
        <button ng-if="!post.showLike" type="button" class="w3-button w3-theme-d1 w3-margin-bottom" ng-click="likePost(post)">
          <i class="fa fa-thumbs-up"></i>{{post.likeCount}}  Like</button>
        <button ng-if="post.showLike" type="button" class="w3-button w3-theme-d1 w3-margin-bottom" ng-click="disLikePost(post)">
          <i class="fa fa-thumbs-up"></i>{{post.likeCount}} Unlike</button>
        <button ng-if="!post.showCommentBox" type="button" class="w3-button w3-theme-d2 w3-margin-bottom" ng-click="showComment(post)">
          <i class="fa fa-comment"></i>  Comment</button>
        <button ng-if="post.showCommentBox" type="button" class="w3-button w3-theme-d2 w3-margin-bottom" ng-click="postComment(post)">
          <i class="fa fa-comment"></i>  Comment</button>

        <div style="">
          <span ng-repeat="rating in ratings">{{rating.current}} out of {{rating.max}}
            <div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(post, rating)"></div>
          </span>
        </div>

        <div class="social_icons" style="margin-left: 5%;">
          <img class="img-responsive social_icons" src="app/view/images/fb2_share.png" ng-click="shareFb(post.postContent)" />
        </div>
        <div class="social_icons">
          <img class="img-responsive social_icons" src="app/view/images/twitter_share.png" ng-click="shareTwitter(post.postContent)"
          />
        </div>
        <div class="social_icons">
          <img class="img-responsive social_icons" src="app/view/images/pint_share.png" ng-click="sharePintrest(post.postContent)"
          />
        </div>

        <button style="float: right;" type="button" class="w3-button w3-theme-d2 w3-margin-bottom" ng-click="removePost(post._id)">
          <i class="fa fa-times"></i>  remove</button>


        <button style="float: right;" type="button" class="w3-button w3-theme-d2 w3-margin-bottom" ng-click="reportAbuse(post)">
          <i class="fa fa-times"></i>  Report Abuse</button>
        <div style="margin-top: 30px;" ng-if="post.reportBox" class="animationIf">
          <input placeholder="Your Report here" type="text" ng-model="post.reportContent" class="text-line" />
          <button style="margin-bottom: 30px;" class="btn btn-danger" ng-click="submitReport(post)">Submit Report</button>
        </div>

      </div>


      <div class="w3-container w3-card-2 w3-white w3-round w3-margin">
        <br>
        <img src="/w3images/avatar6.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">32 min</span>
        <h4>Angie Jane</h4>
        <br>
        <hr class="w3-clear">
        <p>Have you seen this?</p>
        <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">
          <i class="fa fa-thumbs-up"></i>  Like</button>
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom">
          <i class="fa fa-comment"></i>  Comment</button>
      </div>

      <!-- End Middle Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <img src="/w3images/forest.jpg" alt="Forest" style="width:100%;">
          <p>
            <strong>Holiday</strong>
          </p>
          <p>Friday 15:00</p>
          <p>
            <button ng-click="feedCont()" class="w3-button w3-block w3-theme-l4">Info</button>
          </p>
        </div>
      </div>
      <br>

      <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Friend Request</p>
          <img src="/w3images/avatar6.png" alt="Avatar" style="width:50%">
          <br>
          <span>Jane Doe</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept">
                <i class="fa fa-check"></i>
              </button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline">
                <i class="fa fa-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br>



      <div class="w3-card-2 w3-round w3-white w3-padding-32 w3-center">
        <p>
          Latest Jiyans
        </p>
        <p>
          <img ng-click="showUserProfile(profile.id)" ng-repeat="profile in randomProfiles" title="{{profile.name}}" class="thumbsize"
            style="width: 20%;margin-left:1px;margin-top:1px; cursor: pointer" ng-src="{{profile.profilePic || 'app/view/images/avatarss.png'}}">
        </p>
      </div>
      <!-- End Right Column -->
    </div>

    <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>Footer</h5>
</footer>

<footer class="w3-container w3-theme-d5">
  <p>Powered by
    <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
  </p>
</footer>

<script>
  // Accordion
  function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
      x.previousElementSibling.className += " w3-theme-d1";
    } else {
      x.className = x.className.replace("w3-show", "");
      x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
  }

  // Used to toggle the menu on smaller screens when clicking on the menu button
  function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }
</script>
<style>
</style>