<div class="main-cont">
	<div class="authCont" layout-gt-sm="row" layout-xs="column" layout-sm="column" layout-align="center stretch">
		<div flex layout="" layout-align="start center">
			<div flex class="page-title-text">
				<h1>Dummy Text</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
			</div>
		</div>

		<div flex="none" class="authFieldBox">
			<form name="loginForm" ng-controller="loginCtrl" ng-submit="login(user)" novalidate="novalidate">
				<!-- modal start -->

				<style>
					.modal-header,
					h4,
					.close {
						background-color: #5cb85c;
						color: white !important;
						text-align: center;
						font-size: 30px;
					}

					.modal-footer {
						background-color: #f9f9f9;
					}
				</style>
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" style="opacity:1" title="Dismiss">&times;</button>
								<h4>
									<span class="glyphicon glyphicon-lock"></span> Forgot Password</h4>
							</div>
							<div class="modal-body">

								<div class="form-group" style="margin-bottom: 20px;margin-top: 20px;">
									<label for="usrname">
										<span class="glyphicon glyphicon-user"></span> Enter your email id to receive password reset OTP</label>
									<input style="margin-top: 10px;" type="text" class="form-control" ng-change="checkValue()" ng-model="forgetPasswordEmail"
									 id="usrname" placeholder="Enter email">
									<span class="error error_span">{{forgetPasswordEmailFieldVerificationError}}</span>
								</div>
								<button type="submit" class="btn btn-success btn-block" ng-class="{ disabled_button: forgetPasswordEmailFieldInvalid }" ng-disabled="forgetPasswordEmailFieldInvalid"
								 ng-click="sendOTPAsMail($event)">
									<span class="glyphicon glyphicon-off"></span> Send OTP</button>
							</div>
						</div>
					</div>
				</div>
				<!-- modal end -->
				<div class="authFormCont">
					<img class="logo" src="app/view/images/jiya_logo_png.png" />
					<div class="authFormInner">
						<img src="app/view/images/login_with_text.png" />
						<div layout="row" class="soc-media">
							<div flex>
								<!-- <a href="#" ng-click="fbLogin()"><img src="app/view/images/fb_button_normal.png" /></a> -->
								<a href="#" ng-click="facebook()">
									<img src="app/view/images/fb_button_normal.png" />
								</a>
							</div>
							<div flex>
								<!-- <google-plus-signin clientid="104628895635-v3f65f12tqsnsme0acdceer5q9accrju"></google-plus-signin> -->
								<a href="#" ng-click="google()">
									<img src="app/view/images/google_button_normal.png" />
								</a>
							</div>
						</div>

						<div class="text-field-cont">
							<div layout="row">
								<div flex="none">
									<div class="icon-cont">
										<img src="app/view/images/user.png" width="20" />
									</div>
								</div>
								<div flex>
									<input type="email" ng-model="user.email" name="useremail" ng-model-options="{'updateOn': 'blur'}" placeholder="Email ID "
									 required>
									<span class="error error_span" ng-show="loginForm.useremail.$touched && loginForm.useremail.$error.required">
										Required!</span>
									<span class="error error_span" ng-show="loginForm.useremail.$error.email">
										Not valid email!</span>
								</div>
							</div>
						</div>
						<div class="text-field-cont">
							<div layout="row">
								<div flex="none">
									<div class="icon-cont">
										<img src="app/view/images/key.png" width="20" />
									</div>
								</div>
								<div flex>
									<input type="password" name="userpassword" ng-model="user.password" placeholder="Password" required>
									<span class="error error_span" ng-show="loginForm.userpassword.$touched && loginForm.userpassword.$error.required">
										Required!</span>
								</div>
							</div>
						</div>

						<div class="btnPrimary">
							<button ng-class="{ disabled_button: loginForm.$invalid }" ng-disabled="loginForm.$invalid" type="submit">Sign in</button>
						</div>

						<p class="notRegUser">Not a registered user? |
							<a href="/signup">Sign up</a>
						</p>
						<p href="" class="fp-link" ng-click="showModal()">Forgot password?</p>
					</div>
				</div>
			</form>
			<div>{{messages}}</div>
		</div>


	</div>
</div>