<div class="page-header"><h1>User Register</h1></div>

<form ng-submit="regUser(user)">
<label>Email</label>
<input class="form-control" type="email" name="email" placeholder="Email" ng-model="user.email">
<br>

<label>Password</label>
<input class="form-control" type="password" name="password" placeholder="Password" ng-model="user.password">
<br>

<label>User Name</label>
<input class="form-control" type="text" name="username" placeholder="User Name" ng-model="user.username">
<br>
<button class="btn btn-primary" type="submit" >submit</button>
<button class="btn btn-primary" ng-click="updateUser(user)" type="button" >Update</button>
<br>
<br>
<br>

</form>

<div class="container">
    <h2>Bordered Table</h2>
    <p>The .table-bordered class adds borders to a table:</p>            
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Email</th>
          <th>username</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody ng-repeat="x in usersValues">
        <tr>
          <td class="email_button" ng-click="getUserById(x._id)" >{{x.email}}</td>
          <td>{{x.username}}</td>
          <td class="delete_button" ng-click="deleteUser(x._id)">delete</td>
        </tr>
    </tbody>
    </table>
  </div>

<style>
.delete_button{
    color: red;
    cursor: pointer;
}

.email_button{
    color: blue;
    cursor: pointer;
}

</style>