<div class="center-content" flex style="padding:2px !important; width: 1000px;">
    <h2>Drafts</h2>
    <!-- <div class="container" style="width: 1000px;">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="table-responsive">
            <table ng-if="now_user.role == 'super_admin'" summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Action</th>
                  <th>Type</th>
                  <th style="width: 500px;">Preview</th>
                  <th>time</th>
                  
                  
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="draft in drafts">
                  <td><input type="checkbox" ng-click="addDraftToArray($event.target.checked, draft._id)" ng-checked="selectAll"></td>
                  <td style="color: red;">Drafts</td>
                 <td><div style="max-width: 430px !important; background-color:white" class="post_div_content"><div data-toggle="modal" data-target="#viewpost" style="max-width:500px" ng-bind-html="draft.postContent | unsafe " ng-click="viewPost(draft)"></div></div></td>
                  <td>{{draft.dateAndTime | date }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                    <td colspan="4" >
                        <button style="float:right; margin: 10px;" class="btn btn-danger" ng-click="deleteDrafts()">Delete</button>
                        <button style="float:right; margin: 10px;" class="btn btn-danger" ng-click="unSelectAllDrafts()">Unselect all</button>
                        <button style="float:right; margin: 10px;" class="btn btn-danger" ng-click="selectAllDrafts()">Select all</button>
                    </td>
                </tr>
              </tfoot>
            </table>

           
          </div>
        </div>
      </div>
    </div> -->
    <!--<div class="modal fade" id="viewpost" role="dialog">
      <div class="modal-dialog modal-lg">
  
          <!- Modal content->
          <div class="modal-content sharePostCont">
              <div class="modal-header">
                  <h4 class="modal-title nomargin">View post</h4>
                  <button type="button" class="close" id="close_model" data-dismiss="modal">&times;</button>
  
              </div>
              <div class="modal-body clearfix" style="max-height: calc(100vh - 210px);overflow-y: auto;">
                  <div class="sp-step1 fade-element-in"></div>
                  <p class="view_post_title">{{post.postTitle}}</p>
                  <div layout-gt-xs="row" layout-xs="column" class="sp-text">
                          
                          <div class="view_div_content"><div style="padding: 10px;" data-toggle="modal" data-target="#viewpost" style="max-width:500px" ng-bind-html="post.postContent | unsafe "></div></div>
                  </div>
              </div>
  
              <div class="modal-custom-footer">
                  <!- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> ->
                  <div style="min-height:80px" layout-gt-xs="row" layout-xs="column" layout-align-gt-xs="start center">
                      <div flex class="sp-btn center_text_div">
                          <!- <button class="back_btn" ng-click="goPrevious()" style="width: 20%;">Close</button> ->
                      </div>
                  </div>
              </div>
  
          </div>
  
      </div>
  </div>-->

  <!--<div class="container" style="width:auto;">
    <div class="row">
  <div class="col-sm-12">      
       <br>
      <div class="cardbrd">
        <div class="selecti"><input type="checkbox" ng-model="isChecked" style="margin-bottom:0px"  ng-click="selectAllDrafts(isChecked)"> Select All</div>
        <div class="selecti"><i class="fa fa-trash-o" style=" font-size: 20px; margin-left: 20px;" ng-click="deleteDrafts()"></i> Delete</div>
        <div class="table-responsive">
          <table class="table table-hover remsmars" width="100%">
            <tbody>
              <tr ng-repeat="draft in drafts">
                <td class="seltbl"><div class="inlines"><input type="checkbox" style="margin-bottom:0px" ng-click="addDraftToArray($event.target.checked, draft._id)" ng-checked="selectAll"> </div>
                  <div class="inlines"><img src="img/1.jpg" class="dimgs" alt=""/></div>
                  <div class="inlines"><img src="img/star_sel.png" class="stars" alt=""/></div>
                  <div class="inlines"><div style="max-width: 430px !important; background-color:white"><div data-toggle="modal" data-target="#viewpost" style="max-width:500px" ng-click="viewPost(draft)">{{draft.postTitle}}</div></div> </div></td>
                <td class="text-right"><span class="ddates">{{draft.dateAndTime | date }}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>-->

    <div class="container" style="width:auto;">
        <div class="row wow fadeInUp">
            <div class="col-sm-12"><br>
                <div class="cardbrd">
                    <div class="selecti"><input type="checkbox" ng-model="isChecked" style="margin-bottom:0px"  ng-click="selectAllDrafts(isChecked)"> Select All</div>
                    <div class="selecti"><i class="fa fa-trash-o" style="font-size: 20px; margin-left: 20px;" ng-click="deleteDrafts()"></i> Delete</div>
                    <div class="table-responsive">
                        <table class="table table-hover remsmars" width="100%">
                            <tbody>
                                <tr ng-repeat="draft in drafts">
                                    <td class="nortbl">
                                        <div class="inlines"><input type="checkbox" style="margin-bottom:0px" ng-click="addDraftToArray($event.target.checked, draft._id)" ng-checked="selectAll"></div>
                                        <div class="inlines"><img src="/app/view/images/icons/{{draft.postType}}.png" class="dimgs" alt=""/></div>
                                        <div class="inlines"><img src="/app/view/images/star_nor.png" class="stars" alt=""/></div>
                                        <div class="inlines">
                                            <div data-toggle="modal" data-target="#viewpost" ng-click="viewPost(draft)">{{draft.postTitle}}</div>
                                        </div>
                                    </td>
                                    <td class="text-right"><span class="ddates">{{draft.dateAndTime | date:'dd MMM' }}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Post View Modal -->
    <div class="modal fade" id="viewpost" tabindex="-1" role="dialog" aria-labelledby="postviewLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close newClose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="row">
                        <div class="col-xs-12">
                        <div class="protabs">
                            <div class="protabsimg">
                                <img class="nimgs" ng-src="{{ post.posterImage ? post.posterImage : '/app/view/images/icons/profile.png' }}" alt=""/>
                            </div>
                            <div class="protabstxt">
                                <h2>{{post.poster}}</h2>
                                <span class="timeColor">{{post.dateAndTime|date:'d MMM h:mm a'}}</span>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pptitle">{{post.postTitle}} </div>
                            <div class="postedIn">Post is {{post.postType}} </div>
                            <div class="tags">
                                <span ng-repeat="hastag in post.hastags track by $index">#{{hastag}}</span>
                            </div>
                            <div class="row">
                                <div class="postContent">
                                    <div class="post_div_content" ng-bind-html="post.postContent | unsafe"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 clearfix">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3">
                                    <div class="postCrtl">
                                        <img src="app/view/images/icons/rating_selectedl.png" width="19" height="18" alt=""/>{{post.ratingValue}} Rating
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <div class="postCrtl">
                                        <img src="app/view/images/icons/comment.jpg" width="19" height="18" alt=""/>Comment
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <div class="postCrtl">
                                        <div class="dropdown">
                                            <div id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img src="app/view/images/icons/share_ico.jpg" width="19" height="18" alt=""/>Share</div>
                                            <ul class="dropdown-menu paddyli" aria-labelledby="dropdownMenu1">
                                                <li><a href="#">Facebook</a></li>
                                                <li><a href="#">Google</a></li>
                                                <li><a href="#">Instagram</a></li>
                                                <li><a href="#">Tumblr</a></li>
                                                <li><a href="#">Twitter</a></li>
                                                <li><a href="#">Youtube</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <a href="">
                                        <div class="postCrtl" ng-if="!post.showBookMark" ng-click="saveBookMark(post)"><img src="app/view/images/icons/book_icon.jpg" width="19" height="18" alt=""/>Save</div>
                                        <div class="postCrtl" ng-if="post.showBookMark" ng-click="removeBookMark(post)"><img src="app/view/images/icons/book_icon2.jpg" width="19" height="18" alt=""/>Remove</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="col-xs-12 toplines">
                                <div class="commnts" ng-repeat="comment in post.comments">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-9">
                                            <div class="protabs">
                                                <div class="protabsimg">
                                                    <img class="nimgs" ng-src="{{ post.posterImage ? post.posterImage : '/app/view/images/icons/profile.png' }}" alt=""/>
                                                </div>
                                                <div class="protabstxt">
                                                    <h2></h2>
                                                    <div class="postHrs visible-xs pull-left">2 hours ago</div>
                                                    <div class="clearfix"></div>
                                                    <div class="rates">
                                                        <img src="app/view/images/icons/rating_selected_full.png" width="15" height="14" alt=""/>
                                                        <img src="app/view/images/icons/rating_selected_full.png" width="15" height="14" alt=""/>
                                                        <img src="app/view/images/icons/rating_selected_full.png" width="15" height="14" alt=""/>
                                                        <img src="app/view/images/icons/rating_selected_half.png" width="15" height="14" alt=""/>
                                                        <img src="app/view/images/icons/rating_selectedl.png" width="15" height="14" alt=""/>
                                                    </div>
                                                    <span class="cmdtxt">{{comment.commentBody}} </span>
                                                    <div class="seemore">Show More</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-3 hidden-xs">
                                            <div class="postHrs pull-right">{{post.dateAndTime|date:'d MMM h:mm a'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="comPart">
                                    <div class="input-group">
                                        <div class="input-group-addon" id="basic-addon1">
                                            <div class="">
                                                <img class="nimgs" ng-src="{{ post.posterImage ? post.posterImage : '/app/view/images/icons/profile.png' }}" alt=""/>
                                            </div>
                                        </div>
                                        <textarea class="commnt" placeholder="Add a comment..." ng-model="post.comment"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="pull-right" ng-click="postComment(post)">
                                        <img src="app/view/images/icons/send-button.png" class="" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer followbg">
                    <div class="pull-left text-left">
                        <div class="followMe">Browsing content in<br>
                        <strong>Discover </strong> </div>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="greyBtns">Follow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>