
<div class="feedback-form">
  <form id="feedback_form"  method="POST">
	<div >
		<label for="name">First name:</label><br />
		<input   id="name" class="input" name="name" type="text" value="" ng-model="feedback.userName" size="30" /><br />
    </div>
    <div>
            <label for="name">User Mail:</label><br />
            <input id="name" class="input" name="name" type="text" value="" ng-model="feedback.email"size="30" /><br />
        </div>
	
	<div>
		<label for="message">Your feedback:</label><br />
		<textarea id="message" class="input" name="message" ng-model="feedback.feedbackContent" rows="7" cols="30"></textarea><br />
	</div>
    <input id="submit_button"  style="float:right; margin: 10px 0px;" class="btn btn-danger" type="submit" value="add" ng-click="addFeedback(feedback)" />
  
  </form>		
    <style>
        .feedback-form{ padding:20px 20px;}
        .feedback-form label{ font-size:14px;margin-bottom:5px;}
        .feedback-form input{ padding:5px 15px; margin-bottom:15px; min-width:300px; border:1px solid rgba(0,0,0,0.2)}
        .feedback-form textarea{ padding:5px 15px; margin-bottom:15px; min-width:300px; border:1px solid rgba(0,0,0,0.2);}
    </style>
</div>