<!-- Home Page -->
<!-- <div class="jiya-container">
    <div class="main-header" layout="row">
        <div flex="none">
            <img src="app/view/images/jiya_logo_png.png" class="logo" />
        </div>
        <div flex>
            <input type="text" style="background-image:url('app/view/images/search.png');" />
        </div>
    </div>
    <div class="page-container" layout="row" layout-wrap layout-align="none none"> -->
        <!-- <div header></div> -->
        <div class="center-content" flex>
                <img src="app/view/images/icons/jiya_banner.png" class="img-responsive" />
                <div class="blog-box">
                    <div layout="row">
                        <div layout="row" flex="70">
                            <div flex="none">
                                <img src="app/view/images/icons/profile.png" class="profile" />
                            </div>
                            <div flex>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>THIS IS FROM INVITE a post</label>
                                    <input ng-model="sharePost">
                                </md-input-container>
                            </div>
                        </div>
                        <div flex="30" layout layout-align="end center">
                            <button class="btnPrimary btnSmall ">POST</button>
                        </div>
                    </div>
                </div>
                <div class="blog-box">
                    <div layout="row">
                        <div layout="row" flex="70">
                            <div flex="none">
                                <img src="app/view/images/icons/profile.png" class="profile" />
                            </div>
                            <div flex>
                                <h2>JIYA</h2>
                            </div>
                        </div>
                        <div flex="30" layout layout-align="end start">
                            <a href="">
                                <img src="app/view/images/icons/menu.png" />
                            </a>
                        </div>
    
                    </div>
                    <p>Dummy Text</p>
                    <textarea></textarea>
                    <ul>
                        <li>
                            <a href="">
                                <img src="app/view/images/icons/rating_selectedl.png" />
                                <span>Rating</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>Comment</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="app/view/images/icons/Share_normal.png" />
                                <span>Share</span>
                            </a>
                        </li>
                    </ul>
                    <p>#Dummy Text #Dummy Text</p>
                </div>
            </div>
    <!-- 
            <div class="right-sidebar" hide-xs hide-sm flex="none"></div>
        </div>
    </div> -->