<section id="loginForm" class="loginArea">
        <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-5 mx-auto text-center">
                        <div class="fromWrap">
                            <div class="logo text-center">
                                <img src="./assets/images/jiya.png" alt="">
                            </div>
                            <form action="" class="login p-5">
                                <h4>Sign In</h4>
                                <div class="form-group">
                                    <input type="text" name="" id="login" class="form-control" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="" id="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-danger btn-block">Login</button>
                                </div>
                                <div class="form-group text-center or">
                                    <img src="./assets/images/icons/or.png" alt="">
                                </div>
                                <div class="form-group socialLogin">
                                    <div class="row">
                                        <div class="col-sm">
                                            <button type="button" class="btn btn-block googleBtn">Google</button>
                                        </div>
                                        <div class="col-sm">
                                            <button type="button" class="btn btn-block facebookBtn">Facebook</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="registerLink text-center">
                                    <p>Don’t have a account? <a href="#" (click)="goToSignUpPage()">REGISTER HERE</a> <br> <a href="#">FORGOT PASSWORD?</a></p>
                                </div>
                            </form>
                            <div class="boxShadow">
                                <img src="./assets/images/shadow.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
<app-loader *ngIf="model.showLoader"></app-loader>